@model IEnumerable<WebAI.Models.KeyWord>
@{
    ViewBag.Title = "KeyWord";
}

@Html.Partial("_ReferenceBookView", "Ключевые слова")


<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Ключевое слово</th>
        </tr>

        @foreach (var keyWord in Model)
            {
            <tr>
                <th>@keyWord.Id</th>
                <th>@keyWord.Name</th>
            </tr>
        }

    </table>
</div>