@model IEnumerable<WebAI.Models.Site>
@{
    ViewBag.Title = "Site";
}

@Html.Partial("_ReferenceBookView", "Сайты")


<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Название Сайта</th>
        </tr>

        @foreach (var site in Model)
            {
            <tr>
                <th>@site.Id</th>
                <th>@site.Name</th>
            </tr>
        }

    </table>
</div>