@model IEnumerable<WebAI.Models.Site>
@{
    ViewBag.Title = "Site";
}

<h3> Справочник "Сайты"</h3>
<p>Для редактирования и удаления записи - нажмите на неё</p>

<div class="list-group">

        @foreach (var site in Model)
        {
			<a href="#" class="list-group-item">@site.Name</a>
		}
</div>

<button class="btn btn-info">Добавить новую запись</button>