body {
    margin: 0px;
}

.table_params {
    border-spacing: 5px;
}

.table_content {
    border-collapse: collapse;
}

.th_content {
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    background: dodgerblue;
    border: 1px solid gray;
    color: white;
    padding: 5px 20px;
    font-size: 16px;
}

.td_content {
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    border: 1px solid gray;
    padding: 5px 50px;
    font-size: 16px;
}

a {
    text-decoration: none;
}

input {
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
}

select {
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    background-color: mediumseagreen;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    font-size: 16px;
}

.button {
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    background-color: dodgerblue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 6px 20px;
    text-align: center;
    font-size: 16px;
}
.header_footer {
    padding: 5px;
}

.menu {
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    border: none;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.menu_selected {
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    background-color: dodgerblue;
    border: none;
    color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.top {
    width: 100%;
    height: 5%;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    background-color: dodgerblue;
    border: none;
    color: white;
    font-size: 16px;
}

.left {
    width: 20%;
    height: 90%;
    float: left;
    background-color: cornsilk;
    border-right: 1px solid gray;
}

.border_left {
    height: 90%;
    width: 5%;
    float: left;
}

.border_top {
    height: 10%;
    font-size: 10px;
}

.top_label {
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
}

.right {
    height: 80%;
}

.bottom {
    height: 5%;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    background-color: dodgerblue;
    border: none;
    color: white;
    font-size: 12px;
}

.tcal {
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 4px 10px;
    font-size: 16px;
}