<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url"><![CDATA[jdbc:mysql://localhost:3306/ratepersons]]></property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">oldfox</property>
    <property name="connection.password">1213</property>
    <!--property name="connection.username">oldfox</property>
    <property name="connection.password">1213</property-->
    <mapping class="database.KeywordsEntity"/>
    <mapping class="database.PagesEntity"/>
    <mapping class="database.PersonPageRankEntity"/>
    <mapping class="database.PersonsEntity"/>
    <mapping class="database.SitesEntity"/>
  </session-factory>
</hibernate-configuration>