<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url"><![CDATA[jdbc:mysql://spacebrains.bblde3hap.info:3306/ratepersons]]></property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">oldfox</property>
        <property name="connection.password">pEhMAZKbnzBy</property>
        <!--<property name="connection.username">oldfox</property>-->
        <!--<property name="connection.password">pEhMAZKbnzBy</property>-->
        <mapping class="database.CompositeKeyPersonspagerank"/>
        <mapping class="database.KeywordsEntity"/>
        <mapping class="database.PagesEntity"/>
        <mapping class="database.PersonpagerankEntity"/>
        <mapping class="database.PersonsEntity"/>
        <mapping class="database.RolesEntity"/>
        <mapping class="database.SitesEntity"/>
        <mapping class="database.UsersEntity"/>
    </session-factory>
</hibernate-configuration>